.main-menu-dott-cm-cmm-main-sec {
    background-color: #eaeaea;
}


.main-menu-dott-cm-cmm-main-sec {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 54px;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    box-shadow: 0 -5px 3px -5px #c7c7c7;
}



.mainementu-meny-dd-bbox ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.mainementu-meny-dd-bbox ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 25%;
}
.mainmenu-cm-meny-dd-bbox-img-bbx {
    width: 50px;
}
.mainementu-meny-dd-bbox ul li a {
    margin: 0px;
    padding: 0px;
}
.mainmenu-cm-meny-dd-bbox-img-bbx img {
    width: 61px;
    height: 26px;
    margin-top: 4px;
}
.mainementu-meny-dd-bbox ul li a p {
    font-size: 10px;
    color: #6b6b6b;
    margin-left: 5px;
    margin-top: 3px;
}
.main-menu-xccx-boxc {
    padding: 1px 22px 1px 14px;
}
p.main-cx-meny-dd-bbox-cct-name.crrtxtx {
    margin-left: 7px;
}
.col-md-12.main-menu-dott-cm-cmm-ex-cclx {
    margin: 0px;
    padding: 0px;
}
/* .mainmenu-cm-meny-dd-bbox-img-bbx.category-exx-ccls-vc img {
    height: 23px;
} */
/* .mainmenu-cm-meny-dd-bbox-img-bbx.category-exx-ccls-vc img {
    width: 25px;
    margin-left: 16px;
} */