.wishlist-product-and-text-section span {
    display: inline-block;
    margin-top: -73px;
    float: right;
}
.hgffhhfg img {
    width: 100%;
    height: 74px;
}
.row.my-wishlisst-ex-ppdnfg .col-8 {
    margin: 0px;
    padding-right: 10px;
}
.wishlist-product-and-text-section a {
    float: right;
    margin-top: -38px;
}
.wishlist-product-and-text-section h4 {
    font-size: 17px;
    font-weight: 600;
    color: #de3030;
    margin-top: -4px;
    font-family: 'Montserrat', sans-serif;
}
.wishlist-product-and-text-section h5 {
    font-size: 13px;
    color: #adadad;
    margin-top: -13px;
    font-family: 'Montserrat', sans-serif;
}
.wishlist-product-and-text-section p {
    font-size: 15px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;
}
.row.my-wishlisst-ex-ppdnfg {
    margin-top: 11px;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 4px;
}
.wishlist-product-and-text-section a {
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 3px 8px 3px 8px;
    font-weight: 600;
}

/* Modal Button */
.wishlist-product-and-text-section button h5 {
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 3px 8px 3px 8px;
    font-weight: 600;
}
.wishlist-product-and-text-section button {
    background: none;
    border: none;
}
.wishlist-product-and-text-section button {
    float: right;
    margin-top: -16px;
    outline: none;
}
/* Modal Button */