.pre-oordxr-doot-com-main-sectionx {
    margin-top: 10px;
}
.pre-ooxrder-deal-wexv-dot-main-sec-bboxx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
}
.pre-ooxrder-deal-wexv-dot-main-sec-bboxx {
    background: #F6F5F5;
    border-radius: 7px;
    padding: 4px;
}

/* hhhh */
.pre-orderxc-dott-ccm-dealmmnnff-bb p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.pre-orderxc-dott-ccm-dealmmnnff-bb p {
    position: relative;
}
.pre-orderxc-dott-ccm-dealmmnnff-bb a {
    position: absolute;
    right: 19px;
    top: 6px;
    font-size: 13px;
    color: #696969;
    font-weight: 400;
}
.pre-orderxc-dott-ccm-dealmmnnff-bb a i.fa {
    color: #545454;
    font-size: 12px;
}
/* hhhh */

.row.pre-oordexr-dott-com-delproj-rww .col-3 {padding: 1.8px;}

.row.pre-oordexr-dott-com-delproj-rww {
    margin: 0;
    margin-top: 2px;
}

.pre-order-dot-ccm-cattfg-box {
    width: 100%;
    height: 113.5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pre-order-dot-ccm-cattfg-box-overlay {
    background-image: linear-gradient(0deg, #2FABAF 0%, #2354F6 100%);
    height: 100%;
    border-radius: 4px;
    color: #fff;
}
.pre-order-dot-ccm-cattfg-box-overlay-icon h3 {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top: -6px;
}
.pre-ooxrd-view-mrr a {
    background: #fff;
    padding: 2px 5px 2px 5px;
    font-size: 11px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #0c0c0c;
    text-decoration: none;
}

.pre-order-xs-web-ddot-cmm-snnggl-prodct {
    width: 100%;
    height: 113.5px;
    background-color: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
}
.pre-orxdeaz-web-ddot-cmm-snnggl-prodct-img img {
    width: 100%;
    height: 82px;
    padding: 3px;
    border-radius: 7px;
}
.pre-orxdeaz-web-ddot-cmm-snnggl-prodct-ttxt p {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
    font-weight: 600;
    text-align: center;
    margin-top: 9px;
}
.pre-orxdeaz-web-ddot-cmm-snnggl-prodct-ttxt {
    padding: 3px;
    margin-top: -5px;
}
.pre-order-dot-ccm-cattfg-box-overlay-icon p i.fa {
    font-size: 20px;
    margin-top: 20px;
}

