.payment-proceed-courier-mob-sec {
    margin-top: 40px;
}
/* Courier section */
.payment-proceed-courerr-sec-bboox-mv {
    background-color: #fff;
    border-radius: 4px;
}
.payment-proceed-courerr-sec-bboox-mv {
    padding: 0px 4px 8px 4px;
}
.select-courier-service-hed-mob h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2px;
    padding-top: 9px;
}
.select-courier-service-name-box {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #5f5f5f;
    font-family: 'Montserrat', sans-serif;
    line-height: 47px;
    padding-left: 5px;
}
.select-courier-service-name-box span {
    position: absolute;
    right: 24px;
    top: 4px;
}
.select-courier-service-name-box {
    background-color: #ffffff;
    border-radius: 4px;
    height: 48px;
    margin-top: 7px;
    border: 1px solid #ececec;
}
.select-courier-service-name-box:hover {
    background-color: #F34425;
}
.select-courier-service-name-box:hover p {
    color: #fff;
}
/* Couriar section */

/* Payment Metod */
.payment-proceed-payment-option-mob-sec {
    margin-top: -10px;
}
.payment-proceed-seeccxxt-bbox {
    background-color: #fff;
    border-radius: 4px;
}
.payment-proceed-seeccxxt-bbox {
    padding: 0px 4px 8px 4px;
}
.payment-option-secc-service-hed-mob h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 9px;
    margin-left: 2px;
}
.payment-option-name-service-name-box {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #5f5f5f;
    font-family: 'Montserrat', sans-serif;
    line-height: 58px;
    padding-left: 5px;
    border: 1px solid #ececec;
}
.payment-option-name-service-name-box span.payment-proceed-inngz {
    position: absolute;
    right: 24px;
    top: 4px;
}
.payment-option-name-service-name-box {
    background-color: #ffffff;
    border-radius: 4px;
    height: 55px;
    margin-top: 7px;
}
.payment-option-name-service-name-box:hover {
    background-color: #F34425;
}
.payment-option-name-service-name-box:hover span {
    color: #fff;
}
.payment-option-name-service-name-box img {
    height: 36px;
    margin-left: 10px;
}
.payment-option-name-service-name-box span {
    font-size: 13px;
}
/* Payment Method */

/* Proceed Total */
.payment-proceed-payment-option-mob-sec {
    padding-bottom: 50px;
}
.select-courier-total-proceed-mmxml-section {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background: #ffffff;
    height: 50px;
    border-top: 1px solid #d4d4d4;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 500;
    line-height: 50px;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv p span {
    font-size: 16px;
    font-weight: 600;
    color: #F34425;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv-procceed-ffn-btn {
    background-color: #F34425;
    width: 100%;
    height: 35px;
    border-radius: 50px;
    margin-top: 7px;
    text-align: center;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv-procceed-ffn-btn a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv-procceed-ffn-btn a span {
    margin-left: 6px;
}
.select-courier-total-proceed-mmxml-section-ttxt-mv-procceed-ffn-btn a span i.fa {
    font-size: 14px;
}
/* Proceed Total */