.flash-deals-doot-com-main-sectionx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.flash-deals-doot-com-main-sectionx {
    margin-top: -7px;
}
.flash-deal-wexv-dot-main-sec-bboxx {
    background: #ffffff;
    border-radius: 7px;
    padding: 4px;
}

/* hhhh */
.flash-dott-ccm-dealmmnnff-bb p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.flash-dott-ccm-dealmmnnff-bb p {
    position: relative;
    margin-left: 5px;
}
.flash-dott-ccm-dealmmnnff-bb a {
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 13px;
    color: #696969;
    font-weight: 400;
}
.flash-dott-ccm-dealmmnnff-bb a i.fa {
    color: #545454;
    font-size: 12px;
}
/* hhhh */

.row.flash-dott-com-delproj-rww .col-3 {padding: 1.8px;}

.row.flash-dott-com-delproj-rww {
    margin: 0;
    margin-top: -10px;
}

.flash-deal-web-ddot-cmm-snnggl-prodct {
    width: 100%;
    height: 114.5px;
    background-color: #f9f9f9;
    margin-bottom: 3px;
    border-radius: 4px;
}
.flash-deal-web-ddot-cmm-snnggl-prodct-img img {
    width: 100%;
    height: 70px;
    padding: 3px;
    border-radius: 7px;
}
.flash-deal-web-ddot-cmm-snnggl-prodct-ttxt p {
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
}

.flash-deal-web-ddot-cmm-snnggl-prodct-ttxt h4 {
    font-size: 10px;
    font-weight: 600;
    color: #F34425;
    font-family: 'Montserrat', sans-serif;
    line-height: 1px;
    margin-top: -9px;
}
.flash-ddll-doot-com-ooffwr p {
    background: #FF6347;
    width: 40px;
    color: #fff;
    font-weight: 600;
    padding: 1px;
    text-align: center;
    font-size: 8px;
    height: 13px;
    border-radius: 10px;
    line-height: 12px;
}
.flash-deal-web-ddot-cmm-snnggl-prodct-ttxt {
    padding: 3px;
    margin-top: -5px;
}

/* Time Count */
span.timmmcnt-bbox-ex-sec {
    color: #ff5615;
    position: absolute;
    top: 5px;
    left: 92px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.flash-dott-ccm-dealmmnnff-bb {
    position: relative;
}
/* .flash-dott-ccm-dealmmnnff-bb p {
    position: relative;
} */
/* Time Count */
