.search-input-container .search-input-container__inner {
    width: 93% !important;
    position: absolute !important;
    margin-top: 5px !important;
}
.search-input-container .suggestion-input {
    outline: none;
    width: 100% !important;
    border: none;
    background: #f9f9f9;
    height: 40px !important;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
}
.search-input-container .suggestion-input:focus {
    border-bottom: none !important;
}
.search-input-container__inner input {
    position: relative;
}

.icon-dd-mbl button {
    position: absolute;
    right: 22px;
    top: 13px;
    font-size: 17px;
    color: #b7b7b7;
    border: none;
    background: none;
}


.search-dd-cm-main-section {
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 999;
}