.hotcategoryy-mv-doot-com-main-sectionx {
    margin-top: 10px;
}
.hotcategoryy-mv-doot-com-main-sectionx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.hotcategoryy-mv-wexv-dot-main-sec-bboxx {
    background: #ffffff;
    border-radius: 7px;
    padding: 4px;
}

/* hhhh */
.hotcategoryy-mv-dott-ccm-dealmmnnff-bb p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.hotcategoryy-mv-dott-ccm-dealmmnnff-bb p {
    margin-left: 5px;
}
/* hhhh */

.row.hotcategoryy-mv-dott-com-delproj-rww .col-3 {padding: 1.8px;}

.row.hotcategoryy-mv-dott-com-delproj-rww {
    margin: 0;
    margin-top: -10px;
}

.hott-cattt-web-ddot-cmm-snnggl-prodct-ex {
    background-color: #f9f9f9;
    border-radius: 4px;
}
.hot-categoory-single-banneer-secc img {
    width: 100%;
    height: 80px;
    padding: 4px;
    border-radius: 10px;
}
.slide-dot-cmm-section-box-hot-categorryy {
    overflow: hidden;
}
.hot-categoory-single-banneer-secc {
    position: relative;
}
.hot-category-category-nnamsam-web-txtt h4 {
    position: absolute;
    font-size: 13px;
    top: 32px;
    left: 15px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #f76060 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Carousel custom css */

