.top-category-tiem-doot-com-main-sectionx {
    margin-top: 10px;
}
.top-category-tiem-doot-com-main-sectionx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.top-cattgry-xes-wexv-dot-main-sec-bboxx {
    background: #ffffff;
    border-radius: 7px;
    padding: 4px;
}


.row.top-cattgryxz-dott-com-delproj-rww .col-3 {padding: 1.8px;}

.row.top-cattgryxz-dott-com-delproj-rww {
    margin: 0;
    margin-top: 2px;
}

.top-caggtog-sn-web-ddot-cmm-snnggl-prodct {
    width: 100%;
    height: 113.5px;
    margin-bottom: 3px;
    border-radius: 4px;
}
.top-caggtog-sn-web-ddot-cmm-snnggl-prodct-img img {
    width: 100%;
    height: 85px;
    padding: 0px;
    border-radius: 4px;
}
.top-catgrtcy-web-ddot-cmm-snnggl-prodct-ttxt p {
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
}
.top-catgrtcy-web-ddot-cmm-snnggl-prodct-ttxt {
    padding: 3px;
    margin-top: -5px;
}
.top-caggtog-sn-web-ddot-cmm-snnggl-prodct-img {
    margin-top: -12px;
}

