
.slider-main-dot-com-section {
    margin-top: 50px;
}
.ddcm-titm-img-part img {
    width: 100%;
    height: 145px;
    border-radius: 15px;
    position: relative;
}
ul.slick-dots {
    position: absolute;
    top: 115px !important;
}
.slider-main-dot-com-section .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
  }
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(45, 219, 45) !important;
}
.slide-dot-cmm-section-box {
    border-radius: 15px;
    overflow: hidden;
}