.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border: none;
    border-bottom: 5px solid #ff7474;
    z-index: 1;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-left: 11%;
    color: #737373;
}
.nav-tabs {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: none;
}
.tab-content {
    margin-top: 25px;
}

.main-register-page-xxccttn {
    margin-top: 45px;
}
.main-register-page-xxccttn {
    background: #fff;
    height: 100%;
    padding-bottom: 10px;
}
/* sign in */
.singin-reg-signin-secrion-mob-vv-input-bboox input {
    width: 100%;
    padding: 16px 1px 17px 9px;
    border: none;
    outline: none;
    color: #333;
    font-size: 14px !important;
    background: none;
}
.singin-reg-signin-secrion-mob-vv-input-bboox {
    border-bottom: 1px solid #d3d3d3;
    margin-top: 5px;
}
.signin-secrrrt-forgot-pass a {
    text-decoration: underline !important;
    color: #557392;
    font-size: 12px;
}
.signin-secrrrt-forgot-pass {
    margin-top: -5px;
}

.singin-reg-signin-secrion-mob-vv-signin-bbuttnn button {
    width: 100%;
    height: 45px;
    border: none;
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.singin-reg-signin-secrion-mob-vv-signin-bbuttnn {
    margin-top: 30px;
}


/* Or facebook google */
.col-6.signin-faceeffbbkk {
    padding-right: 4px;
}
.col-6.signin-gooooddfgg {
    padding-left: 4px;
}
.singin-reg-signin-secrion-mob-vv-signin-bbuttnn-facebookx button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #3A63BF;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.singin-reg-signin-secrion-mob-vv-signin-bbuttnn-googgoofd button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #C94131;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.sign-inn-oor-connect-ttextt {
    margin-top: 38px;
}
.sign-inn-oor-connect-ttextt h5 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.signin-google-and-facebook-buttnnn {
    margin-top: 23px;
}

.singin-reg-signin-secrion-mob-vv-signin-bbuttnn-facebookx button span i.fab {
    margin-right: 9px;
    border-right: 1px solid #6A66DB;
    height: 41px;
    line-height: 40px;
    padding-right: 10px;
}
.singin-reg-signin-secrion-mob-vv-signin-bbuttnn-googgoofd button span i.fab {
    margin-right: 10px;
    border-right: 1px solid #B83E30;
    height: 41px;
    line-height: 40px;
    padding-right: 10px;
    margin-left: -17px;
}
/* Or facebook google */
/* sign in */

/* Register section */
.singin-reg-registerxx-secrion-mob-vv-input-bboox input {
    width: 100%;
    padding: 16px 1px 17px 9px;
    border: none;
    outline: none;
    color: #333;
    font-size: 14px;
    background: none;
}
.singin-reg-registerxx-secrion-mob-vv-input-bboox {
    border-bottom: 1px solid #d3d3d3;
    margin-top: 5px;
}
.singin-reg-registerxx-secrion-mob-vv-regg-bbuttnn button {
    width: 100%;
    height: 45px;
    border: none;
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.singin-reg-registerxx-secrion-mob-vv-regg-bbuttnn {
    margin-top: 30px;
}
.singin-reg-registerxx-secrion-mob-vv-input-bboox.reggg-ex-vvcls {
    position: relative;
}
.singin-reg-registerxx-secrion-mob-vv-input-bboox.reggg-ex-vvcls span button {
    position: absolute;
    right: 5px;
    top: 16px;
    border: none;
    font-weight: 600;
    color: #f88d22;
    text-transform: uppercase;
    font-size: 13px;
    background: none;
}

/* register with email */
.singin-reg-registerxx-with-email-mob-vv-regg-bbuttnn button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #AAAAAA;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.singin-reg-registerxx-with-email-mob-vv-regg-bbuttnn {
    margin-top: 30px;
}
/* register with email */
/* Register section */