
/* /* Heading box */
.obd-grocery-details-products-hed-txt-section-det .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.obd-grocery-details-products-hed-txt-section-det {
    margin-top: 25px;
}
.djfhdsjfhh-health-and-beauty {
    background-color: #FF5EA0;
    border-radius: 8px;
    padding: 11px;
}
.obd-grocery-details-products-hedd-txt-wv-x h4 {
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}
/* Heading box */

/* Sort By Select */
.obd-grocery-details-products-sortby-slet select {
    border-radius: 8px;
    padding: 4px 10px 4px 10px;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    outline: none;
    width: 120px;
    height: 34px;
    background-color: rgb(230 230 230 / 50%);
}
.obd-grocery-details-products-sortby-slet select option {
    background-color: #8a8e8d;
    border: 1px solid #adadad;
}
.obd-grocery-details-products-sortby-slet span {
    font-size: 14px;
    color: #fff;
    margin-right: 7px;
}
/* Sort By Select */