/* Price section */
.single-product-page-mobile-price-section {
    background-color: #F7F7F7;
    height: 45px;
    margin-top: -6px;
}
.single-product-price-xtt-left-sec p {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
}
.single-product-price-xtt-left-sec p span {
    font-weight: 700;
    font-size: 17px;
    color: #d41a1a;
}
.single-product-price-xtt-left-sec p del span.old-price-xxc {
    color: #989898;
    font-size: 11px;
    font-weight: 500;
    margin-left: 4px;
}
.single-product-price-xtt-left-sec {
    margin-top: 10px;
}
.single-product-price-xtt-right-sec-offer {
    margin-top: 12px;
}
.single-product-price-xtt-right-sec-offer p {
    background: #e02a2a;
    width: 55px;
    color: #fff;
    font-weight: 600;
    padding: 1px;
    text-align: center;
    font-size: 12px;
    height: 22px;
    border-radius: 10px;
    line-height: 18px;
}
/* Price section */

/* Product details text section and review */
.single-product-page-mobile-product-details-text-box p {
    font-size: 13px;
    font-weight: 500;
    color: #585858;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Rating */
.single-product-page-mobile-product-details-text-box-review {
    margin-top: 5px;
}
.checked {
    color: orange;
}
.single-product-page-mobile-product-details-text-box-review ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
}
.single-product-page-mobile-product-details-text-box-review ul li {
    border-right: 1px solid rgb(114, 114, 114);
    display: inline-block;
    margin-right: 9px;
    height: 17px;
}
.single-product-page-mobile-product-details-text-box-review ul li p {
    margin-right: 8px;
    line-height: 14px;
}
li.singll-pro-rat-revvx-no-rev-txt p {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}
li.singll-pro-rat-revvx-one-orrdr-ttxt p {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}
.single-product-page-mobile-product-details-text-box-review ul li:last-child {
    border-right: none;
}
/* Rating */
/* Product details text section and review */

/* Modal single product color size */
.single-product-select-color-sizzx button {
    background: none;
    border: none;
    color: #333;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
    margin-left: -7px;
    outline: none;
}
.single-product-select-color-sizzx button p {
    font-size: 11px;
    color: #ababab;
    margin-left: -76px;
}

.single-product-select-color-sizzx button h5 {
    color: #de2121;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 38px;
}
.single-product-color-option-select-main-mobl {
    background-color: #F7F7F7;
    height: 50px;
    margin-top: 10px;
}

.react-responsive-modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 0px !important;
    width: 100% !important;
}
.react-responsive-modal-modal {
    width: 100% !important;
    position: relative;
    padding: 0px;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 96%;
}

/* After modal open */
.modal-singg-mob-product-imgg-section .container {
    margin: 0px;
    padding: 0px;
}
.single-product-open-modal-image-immg-mbl img {
    width: 100%;
    height: 68px;
    margin-bottom: 5px;
}
.single-product-open-modal-image-txctt h3 {
    color: #E82F2F;
    font-weight: 700;
    font-size: 14px;
    margin-left: -13px;
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
}
.single-product-open-modal-image-txctt h3 del span.single-pro-pr-old-pprc-xs {
    color: #949494;
    font-size: 12px;
    margin-left: 15px;
    font-weight: 600;
}
.single-product-open-modal-image-txctt p {
    font-size: 13px;
    font-weight: 400;
    margin-left: -13px;
    margin-top: -8px;
    color: #949393;
}
.instock-and-offer-box ul li p {
    background: #e02a2a;
    width: 56px;
    color: #fff;
    font-weight: 600;
    padding: 1px;
    text-align: center;
    font-size: 11px;
    height: 18px;
    border-radius: 10px;
    line-height: 16px;
}
.instock-and-offer-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.instock-and-offer-box ul li {
    display: inline-block;
    margin-right: 24px;
}
.instock-and-offer-box {
    margin-left: -13px;
    margin-top: -15px;
}
.instock-and-offer-box ul li h6 {
    color: #5abb41;
    font-size: 14px;
}

/* products options color size quantity */
/* Color with img */
.single-products-options-section-iimmg-bbox ul li img {
    width: 58px;
    height: 50px;
    padding: 1px;
}
.single-products-options-section-iimmg-bbox ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.single-products-options-section-iimmg-bbox ul li {
    display: inline-block;
    margin-right: 11px;
}
.single-products-options-section-iimmg-bbox {
    margin-top: -10px;
}
.single-products-options-section-color-ttxtt {
    margin-top: 12px;
}
.single-products-options-section-color-ttxtt p {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.single-products-options-section-color-ttxtt p span {
    color: #909090;
}
/* Color with img */
/* Size */
.single-products-options-section-sizzx-bbox ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.single-products-options-section-sizzx-bbox ul li {
    display: inline-block;
    margin-right: 11px;
    background: #ccc;
    height: 37px;
    text-align: center;
    border: none;
}
.single-products-options-section-sizzx-bbox {
    margin-top: -10px;
}
.single-products-options-section-sizeext-ttxtt {
    margin-top: 12px;
}
.single-products-options-section-sizzx-bbox ul li p {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 11px 9px 11px;
}
.single-products-options-section-sizeext-ttxtt p span {
    color: #909090;
}
.single-products-options-section-sizeext-ttxtt p {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
/* Size */

/* Quantity */
.single-products-options-section-quantity-bbox ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.single-products-options-section-quantity-bbox ul li {
    display: inline-block;
    margin-right: 0px;
    text-align: center;
}
.single-products-options-section-quantity-bbox {
    margin-top: -10px;
}
.single-products-options-section-sizeext-ttxtt {
    margin-top: 12px;
}
.single-products-options-section-sizeext-ttxtt p {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.single-products-options-section-quantity-bbox ul li button {
    border: 1px solid #969696;
    padding: 3px 13px 3px 13px;
    background-color: #ccc;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
    margin-right: -1px;
}
.single-products-options-section-quantity-bbox ul li.plusxsxts-bbtn button {
    border: 1px solid #969696;
    padding: 3px 13px 3px 13px;
    background-color: #ccc;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -3px;
}
.single-products-options-section-quantity-bbox ul li h2 {
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 0px 17px 0px 17px;
    font-weight: 500;
}
.single-products-options-section-quantity-bbox ul li.incrementhhtwo-ttxt h2 {
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 4px 17px 6px 17px;
    font-weight: 500;
    background-color: #ccc;
    border: 1px solid #969696;
}
.single-products-options-section-quantity {
    margin-top: 10px;
}
/* Quantity */
/* Buy Now Button open modal */
.single-product-buy-now-open-modal-mobile-section-box button {
    background-image: linear-gradient(-70deg, #F8B31F 0%, #F88422 100%);
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.single-product-buy-now-open-modal-mobile-section .container {
    margin: 0px;
    padding: 0px;
}
.single-product-buy-now-open-modal-mobile-section {
    margin-top: 15px;
}
/* Buy Now Button open modal */

/* products options color size quantity */
/* After modal open */
/* Modal single product color size */

/* Products Highlights start */
.single-product-highlight-section-mobile-main-booxs button {
    background: none;
    border: none;
    color: #333;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
    margin-left: -7px;
    outline: none;
}
.single-product-highlight-section-mobile-main-booxs button p {
    font-size: 11px;
    color: #ababab;
    margin-left: -76px;
}

.single-product-highlight-section-mobile-main-booxs button h5 {
    color: #de2121;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 38px;
}
.single-product-highlight-section-mobile-main {
    background-color: #F7F7F7;
    height: 50px;
    margin-top: 10px;
}
.products-highlights-prod-details-txztxt-heading {
    border-bottom: 1px solid #ababab;
}
.products-highlights-prod-details-txztxt-heading h5 {
    color: #333;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.products-highlights-prod-details-txztxt-bboxc ul {
    margin-top: 7px;
    padding: 0px;
    margin-left: 17px;
}
.products-highlights-prod-details-txztxt-bboxc ul li {
    margin-bottom: 5px;
}
.products-highlights-prod-details-txztxt-bboxc ul li p {
    color: #545454;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.single-product-highlight-section-mobile-main-booxs {
    margin-top: 11px;
}
/* Products Highlights */

/* Customer Review Section */
.single-product-page-customer-review-section-main-mobbil {
    border-bottom: 1px solid #676767;
}
.customer-revv-heddnngx-ttxt h5 {
    color: #333;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.customer-revvxx-revveeu p {
    font-size: 10px;
    margin-left: -7px;
}

.customer-revvuuzx-ccount p {
    font-size: 11px;
    font-weight: 500;
}
.row.custtomxm-rrvu .col-6 {
    margin-left: 14px;
    padding: 0px;
}
.row.custtomxm-rrvu .col-2 {
    margin-left: 10px;
    padding: 0px;
}
.row.custtomxm-rrvu .col-3 {
    padding-left: 0px;
    margin-left: 1px;
}
.single-product-page-customer-review-section-main-mobbil {
    background-color: #F7F7F7;
    height: 50px;
    margin-top: 10px;
}
.single-product-page-customer-review-section-main-mobbil-box {
    margin-top: 15px;
}
.customer-revvxx-revveeu {
    border-right: 1px solid #868686;
}
/* Customer Review Section */

/* Customer Review Provide by customer section start */
.customer-review-provide-by-customer-revvxu-sec {
    border-bottom: 1px solid #717171;
    margin-top: 12px;
}
.customer-review-provide-by-customer-revvxu-sec-pro-img img {
    width: 50px;
    border-radius: 100%;
    height: 50px;
}
.row.customer-review-provide-by-customer-eecx .col-9 {
    margin: 0px;
    padding: 0px;
}
.row.customer-review-provide-by-customer-eecx .col-9 {
    margin-left: -10px;
}
.customer-review-provide-by-customer-revvxu-sec-rating-name p {
    font-size: 11px;
}
.customer-review-provide-by-customer-revvxu-sec-rating-name p strong {
    font-size: 14px;
    margin-right: 7px;
}
.customer-review-provide-by-customer-revvxu-sec-rating-name h6 {
    font-size: 13px;
    font-weight: 500;
    color: #848484;
    margin-top: -12px;
}
.customer-review-provide-by-customer-revvxu-sec-texxtc p {
    padding: 4px 10px 4px 14px;
    color: #6d6d6d;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.customer-review-provide-by-customer-revvxu-sec-texxt-social-likke ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-right: 8px;
    margin-top: -12px;
}
.customer-review-provide-by-customer-revvxu-sec-texxt-social-likke ul li {
    display: inline-block;
    margin-right: 8px;
}

.customer-review-provide-by-customer-revvxu-view-more-review a {
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    color: #fff;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    font-size: 13px;
    font-weight: 600;
    border: none;
}
.customer-review-provide-by-customer-revvxu-view-more-review {
    margin-top: 11px;
}
/* Customer Review Provide by customer section end */

/* Product Details Section */
.single-products-product-details-section {
    margin-top: 20px;
}
.single-products-product-details-immgg-prt img {
    width: 100%;
    position: relative;
    margin-top: 7px;
}
.single-products-product-details-heading-ttxt {
    border-bottom: 1px solid #8a8a8a;
    margin-bottom: 4px;
}
.single-products-product-details-heading-ttxt h4 {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}
.single-products-product-details-view-mmortc-bbtx button {
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    color: #fff;
    border-radius: 5px;
    padding: 4px 12px 4px 12px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    margin-bottom: 60px;

}
.single-products-product-details-view-mmortc-bbtx {
    margin-top: 7px;
}
.single-products-product-details-view-mmortc-bbtx {
    margin-top: 7px;
    position: absolute;
    width: 92%;
    z-index: 999;
    box-shadow: 0px -28px 28px 17px #fff;
}
.view-more-bbtn-inside-ttxxtx-mmobbl {
    background-color: #fff;
}
/* View More Button */
.single-product-inside-view-more-buttom-details-images-all img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-product-inside-view-more-buttom-details p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
/* View More Button */
/* Product Details Section */

/* Recommended Section */
.single-products-recommended-peoodect-sec {
    margin-top: 60px;
    margin-bottom: 20px;
}
/* Recommended Section */

/* Buy now and add to cart button  */
.buy-now-and-add-to-cart-page-mobile-v-single-prodcpg {
    background-color: #e8e8e8;
    width: 100%;
    height: 60px;
}
.buy-now-and-add-to-cart-page-mobile-v-single-prodcpg {
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}
.row.buy-now-and-add-to-cart-page-mobile-extra-ppxdc .col-5 {
    margin: 0px;
    padding: 0px 0px 0px 6px;
}
.buy-now-and-add-to-cart-page-mobile-buy-now-bbtn {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(-70deg, #F88522 0%, #F8B21F 100%);
    width: 100%;
    height: 42px;
    margin-top: 9px;
}
.buy-now-and-add-to-cart-page-mobile-buy-now-bbtn a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 41px;
}

.buy-now-and-add-to-cart-page-mobile-addto-ccrt-bbtn {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(-70deg, #F8B21F 0%, #F88522 100%);
    width: 100%;
    height: 42px;
    margin-top: 9px;
}
.buy-now-and-add-to-cart-page-mobile-addto-ccrt-bbtn a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600; 
    font-size: 16px;
    line-height: 41px;
}
.buy-now-and-add-to-cart-page-mobile-cart-icon-bbtn img {
    width: 96%;
    height: 58px;
    margin-top: 5px;
    position: relative;
}
.buy-now-and-add-to-cart-page-mobile-cart-icon-bbtn p {
    position: absolute;
    top: 9px;
    right: 7px;
    background: #f88f21;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    font-weight: 500;
    border: 2px solid #fff;
}
/* Buy now and add to cart button  */
